<%- include('partials/header.ejs') %>
        <body>
            <div class="container">
                <div class="jumbotron mt-3">
                    <div class="title" style="display: flex; flex-direction: row;">
                        <a class="display-4" href="/">Wiki-</a>
                        <a class="display-4" style="color: brown;" href="/">iD</a>
                    </div>
                    <p class="lead">
                        A Control iD é uma indústria 100% brasileira, especializada no desenvolvimento de
                        hardwares e softwares para segurança eletrônica, automação comercial e gestão de recursos
                        humanos. Com o objetivo de atender as necessidades e superar as expectativas de micro, pequenas,
                        médias e grandes empresas de todos os setores de atividade, investe constantemente em pesquisa e
                        inovação, atuando no mercado brasileiro com as mais recentes tecnologias a preços convidativos.
                    </p>
                    <hr class="my-4">
                </div>
                <br>
                <img src="/images/404.png" class="img-fluid" alt="Responsive image">
 
            </div>
        </body>
        <%- include('partials/footer.ejs') %>