<%- include('partials/header.ejs') %>

    <body>
        <div class="container">
            <div class="jumbotron mt-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div class="title" style="display: flex; flex-direction: row; align-items: center;">
                    <p class="display-4" href="/">Wiki-</p>
                    <p class="display-4" style="color: brown; display: flex; flex-direction: row;" href="/">iD</p>
                </div>
                <p class="lead">
                    A Control iD é uma indústria 100% brasileira, especializada no desenvolvimento de
                    hardwares e softwares para segurança eletrônica, automação comercial e gestão de recursos
                    humanos. Com o objetivo de atender as necessidades e superar as expectativas de micro, pequenas,
                    médias e grandes empresas de todos os setores de atividade, investe constantemente em pesquisa e
                    inovação, atuando no mercado brasileiro com as mais recentes tecnologias a preços convidativos.
                </p>
                <hr class="my-4">
                <h1>404 x(</h1>
                <a class="btn" id="error-back" style="margin-left: 10px; height: 100%; opacity: 0;" href="/home">Voltar <i class="bi bi-arrow-counterclockwise"></i></a>
            </div>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>

    <script>
        $(document).ready(() => {
            $('#error-back').animate({
                opacity:1
            }, 3000);
        })
    </script>